.App {
  margin: 0;
}

.tasks {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 300px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(72, 132, 139);
}

.tasks, .project {
  display: inline-block;
}

.project {
  float: right;
  margin: 5px;
  padding: 5px;
  width: 500px;
  height: 550px;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(69, 167, 150);
  position: relative;
}

#taskTitle {
  padding-left: 80px;
}

#projectTitle {
  padding-left: 200px;
}

#taskTitle, #projectTitle {
  font-weight: bolder;
}

.tasks .items {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(235, 235, 235);
}

.project .items {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(235, 235, 235);
}

.items #taskName {
  font-weight: bold;
}

.items #hours {
  float: right;
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  color: rgb(57, 109, 81);
}

#footer {
  bottom: 20px;
  position: absolute;
}